PASSWORD='postgres'
SECRET_KEY='django_key'
CONNECTION_STRING='postgres://postgres:postgres@localhost:5555/example'

WEATHER_API_KEY=your_weather_api_key_here
DEVICE_MANAGER_URL=http://localhost:8000

